### Import necessary libraries

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

In [5]:
import seaborn as sns

## Task1:  Read the data and clean up

#### Read books

In [6]:
books=pd.read_csv("./Data/Book_reviews/BX-Books.csv", engine="python", sep=',', quotechar='"' )
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,NaN,NaN,NaN,NaN
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,NaN,NaN,NaN,NaN
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,NaN,NaN,NaN,NaN
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,NaN,NaN,NaN,NaN
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,NaN,NaN,NaN,NaN

#### Read users

In [7]:
users=pd.read_csv("./Data/Book_reviews/BX-Users.csv", engine="python", sep=',', quotechar='"' )
users.head()

,User-ID,Location,Age,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,1,"nyc, new york, usa",NaN,NaN,NaN,NaN
1,2,"stockton, california, usa",18,NaN,NaN,NaN
2,3,"moscow, yukon territory, russia",NaN,NaN,NaN,NaN
3,4,"porto, v.n.gaia, portugal",17,NaN,NaN,NaN
4,5,"farnborough, hants, united kingdom",NaN,NaN,NaN,NaN

#### Read ratings

In [8]:
ratings=pd.read_csv("./Data/Book_reviews/BX-Book-Ratings.csv", engine="python", sep=',', quotechar='"' )
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X          0.0
1   276726  0155061224          5.0
2   276727  0446520802          0.0
3   276729  052165615X          3.0
4   276729  0521795028          6.0

#### Table cleaning

In [9]:
users = users.drop(['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5'], axis=1)
print(users)

        User-ID                            Location  Age
0             1                  nyc, new york, usa  NaN
1             2           stockton, california, usa   18
2             3     moscow, yukon territory, russia  NaN
3             4           porto, v.n.gaia, portugal   17
4             5  farnborough, hants, united kingdom  NaN
...         ...                                 ...  ...
278846   278854               portland, oregon, usa  NaN
278847   278855  tacoma, washington, united kingdom   50
278848   278856           brampton, ontario, canada  NaN
278849   278857           knoxville, tennessee, usa  NaN
278850   278858                dublin, n/a, ireland  NaN

[278851 rows x 3 columns]

In [10]:
books = books.drop(['Unnamed: 8','Unnamed: 9','Unnamed: 10', 'Unnamed: 11'], axis=1)
print(books)

              ISBN                                         Book-Title  \
0       0195153448                                Classical Mythology
1       0002005018                                       Clara Callan
2       0060973129                               Decision in Normandy
3       0374157065  Flu: The Story of the Great Influenza Pandemic...
4       0393045218                             The Mummies of Urumchi
...            ...                                                ...
271374  0440400988                         There's a Bat in Bunk Five
271375  0525447644                            From One to One Hundred
271376  006008667X  Lily Dale : The True Story of the Town that Ta...
271377  0192126040                        Republic (World's Classics)
271378  0767409752  A Guided Tour of Rene Descartes' Meditations o...

                 Book-Author Year-Of-Publication  \
0         Mark P. O. Morford                2002
1       Richard Bruce Wright                2001
2               Carlo D'Este                1991
3           Gina Bari Kolata                1999
4            E. J. W. Barber                1999
...                      ...                 ...
271374        Paula Danziger                1988
271375            Teri Sloat                1991
271376      Christine Wicker                2004
271377                 Plato                1996
271378   Christopher  Biffle                2000

                                               Publisher  \
0                                Oxford University Press
1                                  HarperFlamingo Canada
2                                        HarperPerennial
3                                   Farrar Straus Giroux
4                             W. W. Norton &amp; Company
...                                                  ...
271374                   Random House Childrens Pub (Mm)
271375                                      Dutton Books
271376                                HarperSanFrancisco
271377                           Oxford University Press
271378  McGraw-Hill Humanities/Social Sciences/Languages

                                              Image-URL-S  \
0       http://images.amazon.com/images/P/0195153448.0...
1       http://images.amazon.com/images/P/0002005018.0...
2       http://images.amazon.com/images/P/0060973129.0...
3       http://images.amazon.com/images/P/0374157065.0...
4       http://images.amazon.com/images/P/0393045218.0...
...                                                   ...
271374  http://images.amazon.com/images/P/0440400988.0...
271375  http://images.amazon.com/images/P/0525447644.0...
271376  http://images.amazon.com/images/P/006008667X.0...
271377  http://images.amazon.com/images/P/0192126040.0...
271378  http://images.amazon.com/images/P/0767409752.0...

                                              Image-URL-M  \
0       http://images.amazon.com/images/P/0195153448.0...
1       http://images.amazon.com/images/P/0002005018.0...
2       http://images.amazon.com/images/P/0060973129.0...
3       http://images.amazon.com/images/P/0374157065.0...
4       http://images.amazon.com/images/P/0393045218.0...
...                                                   ...
271374  http://images.amazon.com/images/P/0440400988.0...
271375  http://images.amazon.com/images/P/0525447644.0...
271376  http://images.amazon.com/images/P/006008667X.0...
271377  http://images.amazon.com/images/P/0192126040.0...
271378  http://images.amazon.com/images/P/0767409752.0...

                                              Image-URL-L
0       http://images.amazon.com/images/P/0195153448.0...
1       http://images.amazon.com/images/P/0002005018.0...
2       http://images.amazon.com/images/P/0060973129.0...
3       http://images.amazon.com/images/P/0374157065.0...
4       http://images.amazon.com/images/P/0393045218.0...
...                                                   ...
271374  http://images.amazon.com/images/P/0440400988.0...
271375  http://images.amazon.com/images/P/0525447644.0...
271376  http://images.amazon.com/images/P/006008667X.0...
271377  http://images.amazon.com/images/P/0192126040.0...
271378  http://images.amazon.com/images/P/0767409752.0...

[271379 rows x 8 columns]

#### Cleaning from empty and wrong values

In [11]:
ratings = ratings[(ratings[['Book-Rating']] != 0).all(axis=1)]

In [12]:
indexes = books[books['Book-Author'].str.contains(r'[0-9]')==True].index
books.drop(indexes, inplace=True, axis=0)

In [13]:
indexes2 = books.index[books['Year-Of-Publication'].str.contains(r'[a-zA-Z]')==True]
books.drop(indexes2, 0, inplace=True)

In [14]:
i = users[users['Age'].str.contains('[a-zA-Z]')].index
users.drop(i, 0, inplace=True)
users

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [ ]:
users['Age'] = users['Age'].apply(lambda x: str(x).replace(';"', '') if ';"' in str(x) else str(x))

In [ ]:
books['Year-Of-Publication'].astype('int64')

In [ ]:
books['Year-Of-Publication'] = pd.to_numeric(books['Year-Of-Publication'])
books.dtypes

In [ ]:
indexZeros = books[ books['Year-Of-Publication'] == 0 ].index
books.drop(indexZeros , inplace=True)

In [ ]:
indexYear = books[ books['Year-Of-Publication'] > 2020 ].index
books.drop(indexYear , inplace=True)

#### Clean Location column of users table

In [ ]:
invalid_location = users[users['Location'].str.contains(r'&#|\d')==True].index
users.drop(invalid_location, inplace=True, axis=0)

### Augment data with additional columns

##### Add Country column in users data

In [ ]:
users['Country']=users['Location'].str.split(',').str[2]
users['Country']=users['Country'].astype('str')
users.head()

#### Add City column in users data

In [ ]:
users['City']=users['Location'].str.split(',').str[0]
users['City']=users['City'].astype('str')
users.head()

#### Filter cities

In [ ]:
invalid_location2 = users[~users['City'].str.contains(r'[a-zA-Z]')==True].index
users.drop(invalid_location2, inplace=True, axis=0)

#### Adding new column to books table - total number of books per author

In [ ]:
books['Total_num']=books.groupby(by='Book-Author')['Book-Author'].transform('count')
books.head()

### Analysis

#### Question 1: Which publisher has the least books?

In [ ]:
publisher=books['Publisher'].value_counts()
print(publisher)

#### Question 2: Which year has maximum number of publicised books?

In [ ]:
year=b['Year-Of-Publication'].value_counts()
print(year)

#### Question 3: Which country has the most users?

In [ ]:
country=users['Country'].value_counts()
print(country)

#### Question 4: Which books are Top 10?

In [ ]:
best_book=pd.merge(ratings, books, on='ISBN', how='inner')

In [ ]:
x=best_book.groupby('Book-Title')['Book-Rating'].mean()
sorted_data = x.sort_values( ascending=False)
sorted_data.head(10)

#### Question 5: Which publisher has the best books? (by book rating)

In [ ]:
publisher=best_book.groupby('Publisher')['Book-Rating'].mean()
sort_publishers=publisher.sort_values( ascending=False)
sort_publishers.head(1)

#### Question 6:Which centry has the most published books?

In [ ]:
centry=books.groupby(pd.cut(books['Year-Of-Publication'], np.arange(1300,2020,100))).count()
centry

In [ ]:
centries=['1300', '1400', '1500', '1600', '1700', '1800', '1900', '2000']
ax = centry.plot(kind='bar', legend=False, color='blue',figsize=(8,8))
ax.set_title('Number of publicised books per centry')
ax.set_xlabel('Centry')
ax.set_ylabel('Number of books')

#### Question 7: Number of publicised books by publisher - ranged top 15 publishers

In [ ]:
publ = books.groupby(['Publisher'])
p = publ['Book-Title'].count().sort_values(ascending=False)
p = p.head(15)

In [ ]:
plt.figure(figsize=(12, 8))
ax = p.plot(kind='bar')
ax.set_title('Number of publicised books by publisher')
ax.set_xlabel('Publishers')
ax.set_ylabel('Number of books')

#### Question 8: Which cities in Washington has most dissatisfied users? (Users that gives the lowest ratings)

In [ ]:
users_ratings=pd.merge(ratings, users, on='User-ID', how='inner')
users_ratings.head()

In [ ]:
usa = users_ratings[users_ratings['Location'].str.contains(r'washington')==True]
city_rating=usa.groupby('City')['Book-Rating'].mean().sort_values()
print(city_rating)
worst=city_rating.head(20)

In [ ]:
plt.figure(figsize=(12, 8))
ax = worst.plot(kind='bar', color='maroon')
ax.set_title('Mean of ratings per cities in Washington')
ax.set_xlabel('Cities')
ax.set_ylabel('Rating')

#### Question 9: Which author has the biggest number of published books and which is his/her rating?

In [ ]:
books.loc[books['Total_num'].idxmax()]

In [ ]:
agatha = best_book[best_book['Book-Author'].str.contains('Agatha')==True]
agatha['Book-Rating'].mean()

#### How looks the curve of ratings of Nora Roberts through years?

In [ ]:
nora = best_book[best_book['Book-Author'].str.contains('Nora')==True]
nora['Year-Of-Publication'].sort_values()
nora_ratings=nora.groupby('Year-Of-Publication')['Book-Rating'].mean()
nora_ratings

In [ ]:
plt.figure(figsize=(12, 8))
ax = nora_ratings.plot(kind='bar', color='maroon')
ax.set_title('Nora Roberts ratings through years')
ax.set_xlabel('Years')
ax.set_ylabel('Rating')

In [ ]:
lines = nora_ratings.plot.line(x='Year', y='Rating')

### 10. Whats the average age of users in nyc?

In [ ]:
readers = users[users['Age'].isnull()==False]
readers = users[users['Age']!='0']
readers['Age'].astype('int64')
readers = readers[readers['Age'] > '10']

nyc = users[users['City']=='nyc']
nyc['Age'].mean()

#### Visualization of the values

In [ ]:
s = nyc['Age'].value_counts()
plt.figure(figsize=(16,5))
plt.plot(s, 'bs')
plt.xticks(rotation=90)
plt.xlabel('Age')
plt.ylabel('Number of users')
plt.show()

### 11. What's the most read book?

In [ ]:
book = best_book.groupby('Book-Title')['User-ID'].count().sort_values(ascending=True)
book.tail(1)

### 12. What year Oxford University Press published the most books?

In [ ]:
oxford = books[books['Publisher'] == 'Oxford University Press']
oxford_val = oxford['Year-Of-Publication'].value_counts().sort_values()
oxford_val.tail(1)

In [ ]:
plt.figure(figsize=(16,10))
o = oxford_val.plot(kind='barh')
o.set_title('Number of publicised books through the years')
o.set_xlabel('Number of publicised books')
o.set_ylabel('Year')